In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
url='https://drive.google.com/file/d/1F5KnTS79MODxHypKVMB6hz1ZqUZyn0Cy/view?usp=sharing'
file_id=url.split('/')[-2]
dwn_url='https://drive.google.com/uc?id=' + file_id
df = pd.read_csv(dwn_url)
print(df.head())

   CommentId  ...                                 translated_value
0     411618  ...                                     steevejoseph
1     411619  ...                                       Aghnashini
2     411620  ...  ayyo pavam kuchu enthelum patelum pattiyo entho
3     411621  ...                                             Brag
4     411622  ...                                         Reponguz

[5 rows x 12 columns]

In [ ]:
df=df.drop(columns=['CommentId','commentText','language','user_index','post_index','report_count_comment', 'report_count_post', 'like_count_comment','like_count_post','commentCleaned'])

In [ ]:
df.head()

   label                                 translated_value
0    0.0                                     steevejoseph
1    0.0                                       Aghnashini
2    0.0  ayyo pavam kuchu enthelum patelum pattiyo entho
3    0.0                                             Brag
4    0.0                                         Reponguz

# Lower case data

In [ ]:
import textblob

In [ ]:
def preprocess_data(df):
   
    
    # Convert text to lowercase
    df['lower'] = df['translated_value'].str.strip().str.lower()
    return df

In [ ]:
df = preprocess_data(df)

In [ ]:
df.head()

   label  ...                                            lower
0    0.0  ...                                     steevejoseph
1    0.0  ...                                       aghnashini
2    0.0  ...  ayyo pavam kuchu enthelum patelum pattiyo entho
3    0.0  ...                                             brag
4    0.0  ...                                         reponguz

[5 rows x 3 columns]

# Spell correction

In [ ]:
from textblob import TextBlob
def spell_correct(df):
   
    
    # Convert text to lowercase
    df['spell_corrected'] = TextBlob(df['translated_value'].to_string()).correct()
    return df

In [ ]:
df2 = spell_correct(df)

In [ ]:
import preprocessor as p
for i,v in enumerate(df['translated_value']):
    tweets.loc[v,’text’] = p.clean(i)

In [ ]:
from textblob.en import Spelling        
import re

textToLower = ""

with open("originOfSpecies.txt","r") as f1:           # Open our source file
	text = f1.read()                                  # Read the file                 
	textToLower = text.lower()                        # Lower all the capital letters

words = re.findall("[a-z]+", textToLower)             # Find all the words and place them into a list    
oneString = " ".join(words)                           # Join them into one string

pathToFile = df['lower']                           # The path we want to store our stats file at
spelling = Spelling(path = pathToFile)                # Connect the path to the Spelling object
spelling.train(oneString, pathToFile)

# remove stop words

In [ ]:
stop_words={‘ourselves’, ‘hers’, ‘between’, ‘yourself’, ‘but’, ‘again’, ‘there’, ‘about’, ‘once’, ‘during’, ‘out’, ‘very’, ‘having’, ‘with’, ‘they’, ‘own’, ‘an’, ‘be’, ‘some’, ‘for’, ‘do’, ‘its’, ‘yours’, ‘such’, ‘into’, ‘of’, ‘most’, ‘itself’, ‘other’, ‘off’, ‘is’, ‘am’, ‘or’, ‘who’, ‘as’, ‘from’, ‘him’, ‘each’, ‘the’, ‘themselves’, ‘until’, ‘below’, ‘are’, ‘we’, ‘these’, ‘your’, ‘his’, ‘through’, ‘don’, ‘me’, ‘were’, ‘her’, ‘more’, ‘himself’, ‘this’, ‘down’, ‘should’, ‘our’, ‘their’, ‘while’, ‘above’, ‘both’, ‘up’, ‘to’, ‘ours’, ‘had’, ‘she’, ‘all’, ‘when’, ‘at’, ‘any’, ‘before’, ‘them’, ‘same’, ‘and’, ‘been’, ‘have’, ‘in’, ‘will’, ‘on’, ‘does’, ‘yourselves’, ‘then’, ‘that’, ‘because’, ‘what’, ‘over’, ‘why’, ‘so’, ‘can’, ‘did’, ‘now’, ‘under’, ‘he’, ‘you’, ‘herself’, ‘has’, ‘just’, ‘where’, ‘too’, ‘only’, ‘myself’, ‘which’, ‘those’, ‘i’, ‘after’, ‘few’, ‘whom’, ‘t’ , ‘if’ ,‘theirs’, ‘my’, ‘against’, ‘a’, ‘by’, ‘doing’, ‘it’, ‘how’, ‘further’, ‘was’, ‘here’, ‘than’}

SyntaxError: ignored

# Model Application

In [ ]:
dff = df.drop(['label'], axis = 1)

In [ ]:
X_temp, X_test, y_temp, y_test = train_test_split(dff, list(df.label), test_size=0.2)

In [ ]:
X_test.shape, X_temp.shape, len(y_test), len(y_temp)

((26153, 1), (104612, 1), 26153, 104612)

In [ ]:
X_temp['label'] = y_temp

In [ ]:
X_temp.head()

                                         translated_value  label
86115                                   the end of raj up    0.0
84170   My illness is that in the morning, light looks...    0.0
12165   Muthai Chechi Poliyaanu Mutidippanu Chankidipa...    0.0
126822                                         i love you    0.0
130327                                     xxx video xxxx    1.0

In [ ]:
zero = X_temp[X_temp['label'] == 0]
zero.shape[0]

72840

In [ ]:
one = X_temp[X_temp['label'] == 1]
one.shape[0]

31772

In [ ]:
ds = pd.concat([zero,one], axis = 0)

In [ ]:

ds

                                         translated_value  label
86115                                   the end of raj up    0.0
84170   My illness is that in the morning, light looks...    0.0
12165   Muthai Chechi Poliyaanu Mutidippanu Chankidipa...    0.0
126822                                         i love you    0.0
2713                                   vera onninnum alla    0.0
...                                                   ...    ...
126918                                            Give it    1.0
62177                                     Take some sense    1.0
72763                                 Lund killed by body    1.0
56353                                deepak joshi madchod    1.0
59389   Aara crazy tara buff is very much, you leave h...    1.0

[104612 rows x 2 columns]

In [ ]:
testdf = X_test
testdf['label'] = y_test
testdf.shape

(26153, 2)

In [ ]:
len(testdf[testdf['label']==0]),len(testdf[testdf['label']==1])

(18272, 7881)

In [ ]:
ds = pd.concat([ds, testdf], axis = 0)

In [ ]:
ds[ds['label']==0].shape, ds[ds['label']==1].shape

((91112, 2), (39653, 2))

In [ ]:
corpus = []
for i in range(ds.shape[0]):
    corpus.append(ds.iloc[i][0])

# Creating BOW

In [ ]:
vectorizer_train = CountVectorizer(max_features=1000)
vocabulary_train = vectorizer_train.fit_transform(corpus)
bow = pd.DataFrame(vocabulary_train.toarray(), columns = vectorizer_train.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
bow['labelxyz'] = list(ds.label)

In [ ]:
bow_zero = bow[bow.labelxyz == 0]
bow_one = bow[bow.labelxyz == 1]

X_train_zero = bow_zero.sample(frac=0.8, random_state=0)
X_test_zero = bow_zero.drop(X_train_zero.index)
X_train_one = bow_one.sample(frac=0.8, random_state=0)
X_test_one = bow_one.drop(X_train_one.index)

X_train_df = pd.concat([X_train_zero, X_train_one], axis = 0)
bow_train = X_train_df.drop(['labelxyz'], axis = 1)
y_train = list(X_train_df.labelxyz)
X_test_df = pd.concat([X_test_zero, X_test_one], axis = 0)
bow_test = X_test_df.drop(['labelxyz'], axis = 1)
y_test = list(X_test_df.labelxyz)

# Building ML models

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier

from sklearn import metrics
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score
import seaborn as sns

In [ ]:
model = ['LR','RF','DT','KN','GB']
accuracy = {'BOW':[]}

In [ ]:
model2 = ['LR','RF','DT','KN','GB']
accuracy = {'BOW':[0.8300]}

## Logistic Regression

In [ ]:
#BOW
regressor_LR_bow = LogisticRegression(C= 1.0, penalty='l2', solver= 'liblinear')
regressor_LR_bow.fit(bow_train,y_train)
y_predict_LR_bow = regressor_LR_bow.predict(bow_test)
a=(regressor_LR_bow.score(bow_test,y_test))
accuracy['BOW'].append(a)
print(metrics.confusion_matrix(y_test, y_predict_LR_bow))
print(metrics.classification_report(y_test, y_predict_LR_bow))
print(metrics.accuracy_score(y_test, y_predict_LR_bow))

[[17309   913]
 [ 3622  4309]]
              precision    recall  f1-score   support

         0.0       0.83      0.95      0.88     18222
         1.0       0.83      0.54      0.66      7931

    accuracy                           0.83     26153
   macro avg       0.83      0.75      0.77     26153
weighted avg       0.83      0.83      0.81     26153

0.8265973310901235

## Random Forest

In [ ]:
#BOW
model_RF_bow = RandomForestClassifier(max_features='sqrt', n_estimators= 100)
model_RF_bow.fit(bow_train,y_train)
y_predict_RF_bow = model_RF_bow.predict(bow_test)
a=(model_RF_bow.score(bow_test,y_test))
accuracy['BOW'].append(a)
print(metrics.confusion_matrix(y_test, y_predict_RF_bow))
print(metrics.classification_report(y_test, y_predict_RF_bow))
print(metrics.accuracy_score(y_test, y_predict_RF_bow))

[[16505  1717]
 [ 3081  4850]]
              precision    recall  f1-score   support

         0.0       0.84      0.91      0.87     18222
         1.0       0.74      0.61      0.67      7931

    accuracy                           0.82     26153
   macro avg       0.79      0.76      0.77     26153
weighted avg       0.81      0.82      0.81     26153

0.8165411233892861

## Decision Tree

In [ ]:
model_DT_bow = DecisionTreeClassifier(criterion= 'gini', max_depth= 2) 
model_DT_bow.fit(bow_train,y_train)
y_predict_DT_bow = model_DT_bow.predict(bow_test)
a=(model_DT_bow.score(bow_test,y_test))
accuracy['BOW'].append(a)
print(metrics.confusion_matrix(y_test, y_predict_DT_bow))
print(metrics.classification_report(y_test, y_predict_DT_bow))
print(metrics.accuracy_score(y_test, y_predict_DT_bow))

[[17273   949]
 [ 6858  1073]]
              precision    recall  f1-score   support

         0.0       0.72      0.95      0.82     18222
         1.0       0.53      0.14      0.22      7931

    accuracy                           0.70     26153
   macro avg       0.62      0.54      0.52     26153
weighted avg       0.66      0.70      0.63     26153

0.7014874010629756

## K neighbors

In [ ]:
#BOW
model_KN_bow = KNeighborsClassifier(metric= 'euclidean', n_neighbors= 19, weights= 'distance') 
model_KN_bow.fit(bow_train,y_train)
y_predict_KN_bow = model_KN_bow.predict(bow_test)
a=(model_KN_bow.score(bow_test,y_test))
accuracy['BOW'].append(a)
print(metrics.confusion_matrix(y_test, y_predict_KN_bow))
print(metrics.classification_report(y_test, y_predict_KN_bow))
print(metrics.accuracy_score(y_test, y_predict_KN_bow))

[[17265   957]
 [ 4765  3166]]
              precision    recall  f1-score   support

         0.0       0.78      0.95      0.86     18222
         1.0       0.77      0.40      0.53      7931

    accuracy                           0.78     26153
   macro avg       0.78      0.67      0.69     26153
weighted avg       0.78      0.78      0.76     26153

0.7812105685772187

## Gradient Boosting

In [ ]:
#BOW
model_GB_bow = GradientBoostingClassifier(learning_rate= 0.1, max_depth= 3, n_estimators= 100, subsample= 1.0)
model_GB_bow.fit(bow_train,y_train)
y_predict_GB_bow = model_GB_bow.predict(bow_test)
a=(model_GB_bow.score(bow_test,y_test))
accuracy['BOW'].append(a)
print(metrics.confusion_matrix(y_test, y_predict_GB_bow))
print(metrics.classification_report(y_test, y_predict_GB_bow))
print(metrics.accuracy_score(y_test, y_predict_GB_bow))

[[17888   334]
 [ 5585  2346]]
              precision    recall  f1-score   support

         0.0       0.76      0.98      0.86     18222
         1.0       0.88      0.30      0.44      7931

    accuracy                           0.77     26153
   macro avg       0.82      0.64      0.65     26153
weighted avg       0.80      0.77      0.73     26153

0.7736779719343861

## Evaluation

In [ ]:
data_bow = {'model':('LR-BoW','accuracy':accuracy['BOW']}
compare_models_bow = pd.DataFrame(data_bow)
compare_models_bow

  model  accuracy
0    LR  0.826597
1    RF  0.701487
2    DT  0.781211
3    KN  0.773678
4    GB  0.816541